/* Tablets */

@media (max-width: 1000px) {
    .nav-bar .logo {
        width: 150px;
    }
    #header .nav-bar nav ul li a {
        margin: 0 5px;
    }
    #about .row,
    #help .row,
    #contact .row,
    #sign-up .row {
        grid-template-columns: repeat(1, 1fr);
        row-gap: 3rem;
    }
    #help .row .col:first-child::before,
    #help .row .col:nth-child(2)::before {
        display: none;
    }
    #info .container .row,
    #services .row,
    #price .row,
    #doctors .row,
    #blogs .row,
    #footer .footer-top .container {
        grid-template-columns: repeat(2, 1fr);
        row-gap: 3rem;
    }
    #contact .row img {
        width: 100%;
        order: 1;
    }
    #contact .row form {
        order: 2;
    }
}


/* Phone */

@media (max-width: 650px) {
    #header .nav-bar nav {
        position: relative;
    }
    #header .nav-bar nav ul {
        position: absolute;
        top: 100px;
        left: 0;
        background-color: #fff;
        width: 100%;
        flex-direction: column;
        display: none;
        text-align: center;
    }
    body.dark #header .nav-bar nav ul{
    background-color: var(--dark-secondary);
    }
    #header .nav-bar nav ul.active {
        display: block;
    }
    #header .nav-bar nav .humberger {
        position: relative;
        z-index: 2000;
        display: block;
        cursor: pointer;
        font-size: 24px;
        width: 45px;
        height: 32px;
    }
    #header .nav-bar nav .humberger i {
        position: absolute;
        inset: 0;
        width: max-content;
        height: max-content;
        opacity: 0;
        transition: 0.3s all ease;
    }
    #header .nav-bar nav .humberger i.active {
        opacity: 1;
        transform: rotate(180deg);
    }
    #header .nav-bar nav ul li {
        padding: 10px;
        border-bottom: 1px solid #ccc;
    }
    #header .nav-bar nav ul li:last-child {
        border: none;
        box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
    }
    .title h2,
    #call h2 {
        font-size: 22px;
    }
    #header #home-content .col h1 {
        font-size: 32px;
    }
    #header #home-content .col a {
        margin-bottom: 10px;
    }
    #info .container .row {
        grid-template-columns: 1fr;
        row-gap: 3rem;
    }
    #info .container .row .col {
        flex-direction: column;
        text-align: center;
    }
    #info .container .row .col i {
        margin: 0 0 10px;
    }
    #services .row,
    #price .row,
    #doctors .row,
    #blogs .row,
    #footer .footer-top .container {
        grid-template-columns: 1fr;
    }
    #brand .row {
        justify-content: center;
    }
    #doctors .row .col .detail a {
        padding: 5px 10px;
    }
    #contact .row form .form-control,
    #about .row .context .info {
        grid-template-columns: repeat(1, 1fr);
    }
    #contact .row form .form-control input,
#contact .row form .form-control select,
#contact .row textarea {
    margin: 5px 0
}
#sign-up .row form
{
    grid-template-columns: repeat(1,1fr);
    gap: 2rem;
}
#call a {
    margin: 10px 0;
}
#services .row .col{
    flex-direction: column;
    text-align: center;
}
#services .row .col i{
    margin: auto;
    margin-bottom: 20px;
}
#price .row .col .detail p{
display: flex;
flex-direction: column;
}
#price .row .col .detail p i {
    margin: auto;
    padding-top: 10px;
}
}