@import url('https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Cursive:wght@400..700&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Oswald:wght@200..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Saira:ital,wght@0,100..900;1,100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    font-family: "Poppins", sans-serif;
}

:root {
    --light-blue: #1a7bd1;
    --dark-gray: #2c2d3f;
    --light-gray: #757575;
    --bg-white: #f6f6f6;
    --bg-newsletter: #edf2ff;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

h1,
h2,
h3 {
    color: var(--dark-gray);
}

h2,
h3 {
    font-weight: 600;
}

p {
    color: var(--light-gray);
    font-size: 14px;
}


/* Utility Classes */

.primary-text {
    color: var(--light-blue);
}

.btn {
    display: inline-block;
    padding: 10px 25px;
    font-size: 14px;
    cursor: pointer;
    border-radius: 5px;
    font-weight: 500;
}

.btn-primary {
    background-color: var(--light-blue);
    color: #fff;
    transition: 0.3s all ease;
}

.btn-primary:hover {
    background-color: #135fa1;
}

.btn-secondary {
    background-color: var(--dark-gray);
    color: #fff;
    transition: 0.3s all ease;
}

.btn-secondary:hover {
    background-color: #4c4f6e;
}

.third-btn {
    background-color: #fff;
    border: 1px solid #fff;
    transition: 0.3s all ease;
    color: var(--light-blue);
}

.third-btn:hover {
    border: 1px solid #fff;
    background-color: var(--light-blue);
    color: #fff;
}

.fourth-btn {
    color: #fff;
    border: 1px solid #fff;
    transition: 0.3s all ease;
}

.fourth-btn:hover {
    background-color: #fff;
    color: var(--dark-gray);
}

.container {
    padding: 2rem 5rem;
}

.title {
    text-align: center;
    padding: 5rem 0;
    max-width: 500px;
    margin: auto;
}


/*  Header Start*/

#header .nav-bar {
    position: fixed;
    top: 0;
    width: 100%;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.2);
    background-color: #fff;
    z-index: 1000;
}

#header .nav-bar nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    margin: auto;
    min-height: 100px;
    padding: 0 2rem;
}

#header .nav-bar nav ul {
    display: flex;
}

#header .nav-bar nav ul li a {
    margin: 0 15px;
    color: var(--dark-gray);
    font-weight: 500;
    text-transform: capitalize;
    transition: 0.3s all ease;
}

.nav-bar nav ul li a:hover {
    color: var(--light-blue);
}

.nav-bar .logo {
    width: 250px;
}

#header .nav-bar nav .humberger {
    display: none;
}


/*  Header End  */


/*  Home Start  */

#header #home-content {
    background: url(../img/bg-home.jpg) no-repeat center center / cover;
    min-height: 100vh;
    display: flex;
    align-items: center;
    margin-top: 2rem;
}

#header #home-content .col {
    width: 1200px;
    margin: auto;
    padding: 0 2rem;
}

#header #home-content .col small {
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 1px;
}

#header #home-content .col small img {
    vertical-align: middle;
}

#header #home-content .col h1 {
    font-size: 40px;
    max-width: 600px;
    line-height: 1.4;
}

#header #home-content .col p {
    margin: 10px 0 30px;
    max-width: 500px;
    line-height: 1.6;
}

#header #home-content .col a {
    margin-right: 15px;
}


/*  Home End  */


/*  About Start  */

#about {
    background-color: var(--bg-white);
}

.title h2 {
    font-size: 32px;
    font-weight: 600;
}

.title img {
    margin: 20px 0;
}

.title p {
    max-width: 450px;
    margin: auto;
}

#about .row {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
}

#about .row img {
    width: 100%;
}

#about .row .context h3 {
    font-size: 24px;
    font-weight: 600;
}

#about .row .context .line {
    width: 60px;
    height: 3px;
    background-color: var(--light-blue);
    margin: 5px 0;
}

#about .row .context .paragraph p {
    margin-bottom: 2rem;
    font-size: 16px;
}

#about .row .context .info {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

#about .row .context .info p {
    margin-bottom: 10px;
}

#about .row .context .info i {
    margin-right: 5px;
    color: var(--light-blue);
}


/*  About End  */


/* Info Start */

#info,
#brand {
    background: url(../img/info-bg.jpg) no-repeat center center / cover;
    padding: 2rem 0;
    position: relative;
    z-index: 1;
    color: #fff;
}

#info::before,
#call::before,
#brand::before {
    position: absolute;
    content: "";
    background-color: var(--light-blue);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.8;
    z-index: -1;
}

#info .container .row {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

#info .container .row .col {
    display: flex;
    align-items: center;
}

#info .container .row i {
    width: 70px;
    height: 70px;
    border: 2px solid #fff;
    border-radius: 50%;
    margin-right: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
}

#info .container .row .col i:hover {
    background-color: #fff;
    color: var(--light-blue);
}

#info .container .row .col span {
    font-size: 30px;
    font-weight: 600;
}

#info .container .row .col p {
    color: #fff;
}


/* Info End */


/* Help Start */

#help {
    background-color: var(--bg-white);
}

#help .row {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    text-align: center;
    column-gap: 3rem;
    margin-top: 3rem;
}

#help .row .col {
    position: relative;
}

#help .row .col i {
    font-size: 30px;
    width: 70px;
    height: 70px;
    justify-content: center;
    padding: 20px;
    border-radius: 50%;
    color: var(--light-blue);
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2);
}

#help .row .col h3 {
    font-size: 20px;
    font-weight: 600;
    margin: 20px 0;
}

#help .row .col:first-child::before,
#help .row .col:nth-child(2)::before {
    position: absolute;
    content: "";
    border-bottom: 4px dotted var(--light-blue);
    width: 118px;
    right: -75px;
    top: 40px;
}


/* Help End */


/* Call Start*/

#call {
    background: url(../img/call-bg.jpg) no-repeat center center / cover;
    position: relative;
    z-index: 1;
    text-align: center;
}

#call .container {
    max-width: 700px;
    margin: auto;
}

#call h2 {
    font-size: 32px;
    font-weight: 600;
    color: #fff;
}

#call p {
    margin: 20px 0;
    color: #fff;
}

#call a {
    margin: 0 10px;
}


/* Call End*/


/* Service Start */

#services .row {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 4rem 3rem;
    margin-top: 3rem;
}

#services .row .col {
    display: flex;
}

#services .row .col i {
    font-size: 40px;
    margin-right: 1rem;
    color: var(--light-blue);
}

#services .row .col span {
    font-size: 20px;
    font-weight: 600;
}

#services .row .col p {
    font-size: 14px;
    margin-top: 10px;
}


/* Service End */


/* Price Start */

#price {
    background-color: var(--bg-white);
    text-align: center;
}

#price .row {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}

#price .row .col {
    background-color: #fff;
    padding: 3rem 2rem;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
}

#price .row .col i {
    font-size: 60px;
    color: var(--light-blue);
    margin-bottom: 20px;
}

.fa-scissors {
    transform: rotate(-90deg);
}

#price .row .col h3 {
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 10px;
}

#price .row .col p {
    color: var(--light-blue);
    font-size: 35px;
    font-weight: 600;
}

#price .row .col p span {
    font-size: 14px;
    color: var(--light-gray);
}

#price .row .col .detail {
    margin: 20px 0;
}

#price .row .col .detail i {
    font-size: 16px;
}

#price .row .col .detail i.x {
    color: var(--light-gray);
}

#price .row .col .detail p {
    color: var(--light-gray);
    font-size: 14px;
    display: flex;
    justify-content: space-between;
    margin: 15px 0;
}

#price .row .col a {
    width: 100%;
}


/* Price End */


/* Brand Start*/

#brand .row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

#brand .row img {
    max-width: 200px;
    margin-bottom: 20px;
}


/* Brand End*/


/* Doctors Start */

#doctors,
#contact {
    background-color: var(--bg-white);
}

#doctors .row {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 3rem;
    text-align: center;
}

#doctors .row .col {
    background-color: #fff;
}

#doctors .row .col img {
    width: 100%;
    height: 300px;
}

#doctors .row .col .detail {
    padding: 2rem 0;
    display: flex;
    flex-direction: column;
}

#doctors .row .col .detail h3 {
    font-size: 22px;
}

#doctors .row .col .detail span {
    margin: 10px 0 20px;
    color: var(--light-blue);
    font-size: 14px;
    font-weight: 500;
}

#doctors .row .col .detail a {
    width: 25%;
    margin: auto;
    border-radius: 20px;
    padding: 10px 15px;
}


/* Doctors End */


/* BLogs Start */

#blogs .row {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 2rem;
}

#blogs .row .item {
    background-color: #fff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

#blogs .row .item .details {
    padding: 2rem;
    position: relative;
}

#blogs .row .item .details::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: var(--light-blue);
    height: 2px;
    width: 0%;
    transition: all 0.3s ease;
}

#blogs .row .item:hover .details::before {
    width: 100%;
}

#blogs .row .item .details span {
    padding: 5px 15px;
    background-color: var(--light-blue);
    color: #fff;
    border-radius: 5px;
}

#blogs .row .item .details h3 {
    margin: 10px 0 15px;
    font-weight: 500;
}

#blogs .row .item .details p {
    color: var(--light-gray);
    font-size: 14px;
    line-height: 1.6;
}

#blogs .row .item img {
    width: 100%;
}


/* BLogs End */


/* contact start */

#contact .row {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    column-gap: 3rem;
}

#contact .row form .form-control {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 1.5rem;
    margin-bottom: 20px;
}

#contact .row form .form-control input,
#contact .row form .form-control select,
#contact .row textarea {
    padding: 15px;
    border: 1px solid #ddd;
    outline-color: var(--light-blue);
    width: 100%;
    color: var(--light-gray);
}

#contact .row img {
    justify-self: end;
    max-width: 100%;
}

#contact .btn {
    padding: 15px 30px;
    border: none;
    margin-top: 25px;
}


/* contact End */


/* Sign Start */

#sign-up {
    background-color: var(--bg-newsletter);
    padding: 5rem 0;
}

#sign-up .row {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 3rem;
}

#sign-up .row .content h2 {
    margin-bottom: 10px;
}

#sign-up .row .content p {
    color: var(--light-gray);
}

#sign-up .row form {
    display: grid;
    grid-template-columns: 2fr 1fr;
    align-items: center;
    justify-content: center;
    column-gap: 2rem
}

#sign-up .row input,
#sign-up .row button {
    padding: 15px;
    width: 100%;
    border: none;
    border-radius: 5px;
}


/* Sign End */


/* footer Start */

#footer .footer-top {
    background-color: var(--light-blue);
    padding: 5rem 0 2rem;
}

#footer .footer-top .container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 3rem;
}

#footer .footer-top h2 {
    color: #fff;
    margin-bottom: 5px;
}

#footer .footer-top .line {
    width: 50px;
    background-color: #fff;
    height: 2px;
}

#footer .footer-top p {
    color: #fff;
    margin: 20px 0;
    line-height: 1.6;
    font-weight: 400;
}

#footer .footer-top .social {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

#footer .footer-top .social i {
    width: 5px;
    height: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border-radius: 50%;
    color: #fff;
    border: 2px solid #fff;
    margin: 0 5px;
    transition: 0.3s all ease;
}

#footer .footer-top .social i:hover {
    color: var(--dark-gray);
    border-color: var(--dark-gray);
}

#footer .footer-top ul {
    margin-top: 20px;
    text-transform: capitalize;
}

#footer .footer-top ul li {
    margin-bottom: 10px;
    transition: 0.3s all ease;
}

#footer .footer-top ul li a {
    color: #fff;
}

#footer .footer-top ul li:hover {
    transform: translateX(10px);
}

#footer .footer-top b {
    display: block;
    margin: 10px 0;
    color: #fff;
    max-width: 600px;
    font-size: 14px;
}

#footer .footer-top form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

#footer .footer-top form input,
#footer .footer-top form button {
    padding: 15px;
    border: none;
    color: var(--light-blue);
    transition: 0.3s all ease;
}

#footer .footer-top form button:hover {
    color: var(--light-gray);
    cursor: pointer;
}

#footer .footer-top form input {
    background-color: var(--light-blue);
    border: 1px solid #fff;
    outline-color: var(--light-blue);
}

#footer .footer-top form input::placeholder {
    color: #fff;
}

#footer .footer-down {
    background-color: #135fa1;
    text-align: center;
    padding: 1rem 0;
}

#footer .footer-down p {
    color: #fff;
}

#footer .footer-down a {
    color: #fff;
    margin-left: 5px;
    font-weight: 600;
    transition: 0.3s all ease;
}

#footer .footer-down a:hover {
    color: var(--dark-gray);
}


/* footer End */


/* Dark Mode Toggle */

.dark-btn {
    background-color: var(--light-blue);
    color: #fff;
    border: none;
    padding: 5px 7.5px;
    border-radius: 50%;
    position: fixed;
    bottom: 15px;
    right: 20px;
    cursor: pointer;
    transition: 0.3s all ease;
    z-index: 1001;
}

.dark-btn:hover {
    background-color: var(--dark-gray);
}


/* Dark Mode Variables */

body.dark {
    --dark-bg: #0f172a;
    --dark-secondary: #1e293b;
    --dark-card: #1e293b;
    --dark-text: #e2e8f0;
    --dark-text-secondary: #94a3b8;
    --dark-border: #334155;
}


/* Body Dark Mode */

body.dark {
    background-color: var(--dark-bg);
    color: var(--dark-text);
}


/* Navigation Dark */

body.dark #header .nav-bar {
    background-color: var(--dark-secondary);
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.5);
}

body.dark #header .nav-bar nav ul li a {
    color: var(--dark-text);
}

body.dark #header .nav-bar nav ul li a:hover {
    color: var(--light-blue);
}

body.dark #header #home-content {
    background: url(../img/Dark=bg-home\ \ page.png) center center /cover;
}


/* Headings Dark */

body.dark h1,
body.dark h2,
body.dark h3 {
    color: var(--dark-text);
}

body.dark p {
    color: var(--dark-text-secondary);
}


/* Sections Dark Background */

body.dark #about,
body.dark #help,
body.dark #price,
body.dark #doctors,
body.dark #contact {
    background-color: var(--dark-bg);
}


/* Cards & Boxes Dark */

body.dark #price .row .col,
body.dark #doctors .row .col,
body.dark #blogs .row .item {
    background-color: var(--dark-card);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

body.dark #blogs .row .item .details {
    background-color: var(--dark-card);
}


/* Forms Dark */

body.dark #contact .row form .form-control input,
body.dark #contact .row form .form-control select,
body.dark #contact .row textarea {
    background-color: var(--dark-secondary);
    border: 1px solid var(--dark-border);
    color: var(--dark-text);
}

body.dark #contact .row form .form-control input::placeholder,
body.dark #contact .row textarea::placeholder {
    color: var(--dark-text-secondary);
}


/* Sign Up Section Dark */

body.dark #sign-up {
    background-color: var(--dark-secondary);
}

body.dark #sign-up .row input {
    background-color: var(--dark-bg);
    color: var(--dark-text);
    border: 1px solid var(--dark-border);
}

body.dark #sign-up .row input::placeholder {
    color: var(--dark-text-secondary);
}


/* Footer Dark */

body.dark #footer .footer-top {
    background-color: #1e3a5f;
}

body.dark #footer .footer-down {
    background-color: #0f2744;
}

body.dark #footer .footer-top form input {
    background-color: #1e3a5f;
    border-color: #2d4a6f;
}


/* Icons Dark Mode */

body.dark #help .row .col i {
    background-color: var(--dark-secondary);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
}

body.dark #services .row .col i {
    color: #60a5fa;
}


/* Info Section Dark (keep blue overlay) */



/* Smooth Transitions */

body,
#header .nav-bar,
h1,
h2,
h3,
p,
.row .col,
input,
select,
textarea {
    transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
}
/* Scroll to top button */
.top-btn {
    background-color: var(--light-blue);
    color: #fff;
    border: none;
    padding: 5px 7.5px;
    border-radius: 50%;
    position: fixed;
    bottom: 60px;
    right: 20px;
    cursor: pointer;
    transition: 0.3s all ease;
    z-index: 1001;
opacity: 0;
}
.top-btn.show{
    opacity: 1;

}
.top-btn:hover {
    background-color: var(--dark-gray);
}